My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a49d7132-8377-47be-b01f-fd8b19912be9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "e8cd5f7abf6a96b8bcb17a7cf3fe20bd"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "e6be577e-d515-46b1-bdef-837f8262d09a",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UjkfyCjMbqWUNEY1",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "base",
        "operation": "getSchema",
        "base": {
          "__rl": true,
          "value": "appdBu0lYPGdLMiC9",
          "mode": "list",
          "cachedResultName": "beginner course",
          "cachedResultUrl": "https://airtable.com/appdBu0lYPGdLMiC9"
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        -60
      ],
      "id": "77c6c1a0-8b2d-46a4-9441-f51b34bfa021",
      "name": "Get base schema",
      "credentials": {
        "airtableTokenApi": {
          "id": "QMcjpM6EdrlB9LgJ",
          "name": "Airtable Personal Access Token account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17fb27e6-9eb3-43b4-84bf-18fdcba72a06",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "ed7ce2d8-eeaf-49a8-9ae3-683527a23e13",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77b9e5f2-bffd-475f-9074-b8c1477d432c",
              "name": "orderID",
              "value": 1,
              "type": "number"
            },
            {
              "id": "bf9c7d82-1a76-4d3b-a334-cbbd8ddd18b4",
              "name": "customerID",
              "value": 8,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -60
      ],
      "id": "3699a743-267e-4256-83cc-bc033db65d4b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        100
      ],
      "id": "03e7da7b-82bf-410d-997d-ad7f0f8944e3",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get base schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0524a7fe-68ab-4e9d-bb55-d43bc08771f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "186e38c91155d4a86dab5c3402f86dca2b2e42b8bb7329cc06432633be385349"
  },
  "id": "MBKxt1icH3Jlp6Gf",
  "tags": [
    {
      "createdAt": "2025-07-14T09:15:48.474Z",
      "updatedAt": "2025-07-14T09:15:48.474Z",
      "id": "u5ex1qhInMRne4Pu",
      "name": "My 1st project"
    }
  ]
}